
<div class="footer_bottom">

<p>Sponsors: Rajni Agarwal, Arlene DeBardelaben and Andres Orjuela.
</p>

</div>
<p class="small_bread end_of_page">
	Disclaimer: We are not a medical institution and are not associated with any. We do not intend to diagnose sickness or give treatment procedures. 
	<br>
	We focus around two activities: a chef sharing his knowledge on healthy eating and people sharing their experiences with cancer.
</p>