<h2>
	About us
</h2>
<div class="event_info">
	<h2 class="topic">
		What is Cancer Prevention and Recovery (CPR)
	</h2>

<p>
CPR (Cancer Prevention and Recovery) is a non-profit organization to help anyone who wants to transition into a healthier lifestyle. Whether you are a cancer survivor, fighting cancer, recovering, have a loved one who is, or just want to be informed about how to prevent cancer, this group is for you!  We meet at Christ Journey Church in Coral Gables, Florida.
</p>
</div>

<h2>What we do</h2>

<p>
Each month we gather together to be inspired by:
Someone's personal story
Explanation of the benefits of various eating disciplines
Enocuragement to find what lifestyle works best for each of us
Fellowship and support
</p>

<div class="about_image">
<%= image_tag "Rajni.jpg" %>
</div>

<h3>Who we are:</h3>

<h4>Rajni Agarwal</h4>

<p class="small_bread">
Rajni Agarwal became a widow following her husbands's battle with colon cancer. Anand was 34 and Rajni a 29 year old mother of two young toddlers who were 2 and 4 years old.  But God provided for Rajni and her two sons through the business (ATI) Anand had just started.  Today she enjoys her two strong sons and 4 grandchildren.   Along the way, Rajni was nominated for Florida Business Woman of the Year 2005.  She has poured her inexhaustible energy into making a difference in the lives of women in her work world, through her church, and as a leader in BSF ( Bible Study Fellowship).  She started a single mom's ministry in her church in 2004.  Recently, her friend, Arlene, was diagnosed with the same cancer that took the life of Rajni's husband.  But this time, Rajni observed healing due in great respect to healthy eating.  This prompted Rajni to start CPR with  Arlene and Chef Andres in February 2014.
</p>

<div class="about_image_left">
<%= image_tag "Arlene.jpg" %>
</div>

<h4>Arlene DeBardelaben</h4>

<p class="small_bread">
Arlene DeBardelaben has worked in ministry along side of her husband, Steve, for 44 years (beside her in the picture).  Together they provide opportunity for spiritual growth with the University of Miami sports teams and the Miami Heat players and dancers by providing chapel services before their games and Bible Studies for those interested. She is a  spiritual mentor and a mother to many students and ladies who have been blessed by her living testimony of God's love and power.  Arlene’s life includes four adult children with adult problems!... 6 “perfect” grandsons... and cancer.  But none of these things define her. It’s the relationship with God that really brings significance to anyone’s life and she is no different. </p>

<div class="about_image">
<%= image_tag "Andres.jpg" %>
</div>

<br>
<h4>Andrés Orjuela</h4>

<p class="small_bread">
Andrés Orjuela is a self taught Chef who has been working in restaurants since 1992. He is fully devoted to the movement begun by Alice Waters of eating fresh, local, healthy and delicious food, and has been cooking vegetarian dishes for 15 years. In Miami he has worked at the Fine Dining Italian Restaurant Quattro as well as at the Palms Hotel and Spa's Restaurant Essencia. He now owns his own company "The Special" which delivers fresh and healthy gourmet meals in both Miami and Miami Beach. His knowledge and techniques are very diverse as he grew up in Latin America, studied in the US, and lived in Europe for 10 years. Andres' father passed away of cancer in 2008 and he has since then been on a mission to understand the links between what we eat and how it affects our health, specifically concerning today's four leading causes of death: heart disease, cancer, side effects of prescription drugs, and diabetes.
</p>
<br>
<br>


