
<h2>
	Directions
</h2>

<div class="event_info">
	<h2 class="topic">
		CPR Event Location
		<br>
	</h2>

	<p>Christ Journey Church: 624 Anastasia Ave. Coral Gables, FL 33134</p>

	<p>Meetings are held in Room 217  -  Free Parking is available on the Church premises.</p>

</div>

<h3>Google map for location: 624 Anastasia Ave. Coral Gables, FL 33134</h3>

<div class="map">

	<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'>
	</script>
	<div style='overflow:hidden;height:440px;width:700px;'>
		<div id='gmap_canvas' style='height:440px;width:700px;'>
		</div>
		<div>
			<small><a href="http://embedgooglemaps.com">embed google map</a></small>
		</div>
		<div>
			<small><a href="http://freedirectorysubmissionsites.com">directory submission sites</a></small>
		</div>
		<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
	</div>
	<script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(25.741487,-80.26727599999998),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(25.741487,-80.26727599999998)});infowindow = new google.maps.InfoWindow({content:'<strong>CPR Meeting Location</strong><br>624 Anastasia Ave. Coral Gables, FL 33134<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
	</script>
</div>

<p class="br_space">All are welcome!
</P>